<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Template</title>
</head>
<body>

	<section class="page-intro">
		<a href="#" class="page-intro__logo wow fadeInDown" data-wow-duration="1.8s">
			<img src="img/page-logo.png" alt="Page-logo" class="page-intro__logo-image">
		</a>
		

		<h1 class="page-intro__title wow fadeInDown" data-wow-duration="1.8s">I love design</h1>

		<p class="page-intro__text wow fadeInDown" data-wow-duration="1.8s">I'm glad that you visited my site where he can get to know me and my work.</p>

		<a href="#about" class="page-intro__button wow fadeInDown" data-wow-duration="1.8s" data-wow-offset="0"></a>
	</section>

	<section class="about" id="about">
		<p class="about__text wow fadeInLeft">My name is Vlad Musienko, I'm a web designer. I love to draw and all that is connected with the design. In this area a long time ago and during this time I managed to create several successful projects used by people all over the world. 
		</p>
		<p class="about__text wow fadeInRight">I love the simplicity in the design of web sites. As I see it,people, it's like my work. Naturally do not want to rest on our laurels and will continue further studies to improve soybean skills, creating new interesting creative projects.</p>

		<p class="about__title wow fadeInUp">What i do</p>

		<div class="features">
			<div class="features__item wow bounceInRight">
				<p class="features__subtitle">TEMPLATE.</p>
				<p class="features__text">Lately, I often create templates for WordPress. The portfolio is the presentation and the opportunity to buy them on the site Themeforest.</p>
			</div>
			<div class="features__item wow bounceInRight" data-wow-delay="0.2s">
				<p class="features__subtitle">BRAND.</p>
				<p class="features__text">Creating a brand is a very complex process aimed at the creation and positioning the unique persons of the company, its products and services.</p>
			</div>
			<div class="features__item wow bounceInRight" data-wow-delay="0.4s">
				<p class="features__subtitle">DREAMS.</p>
				<p class="features__text">Everyone is able to destroy the dream, but not everyone is able to create it. I try to help people in its definition as a person and specialist.</p>
			</div>
		</div>
	</section>

	<section class="my-work">
		<p class="my-work__title wow bounceInLeft" data-wow-offset="0">My work</p>

		<ul class="my-work__filter">
			<li class="my-work__filter-item"><a class="active" href="#" data-id="all">All Works</a></li>
			<li class="my-work__filter-item"><a href="#" data-id="landing">Landing Page</a></li>
			<li class="my-work__filter-item"><a href="#" data-id="design">Web Design</a></li>
			<li class="my-work__filter-item"><a href="#" data-id="icon">Icon Design</a></li>
			<li class="my-work__filter-item"><a href="#" data-id="template">Template</a></li>
		</ul>

		<div class="my-work__gallery">
			<figure class="my-work__gallery-item icon">
				<a href="#"><img src="img/animals.jpg" alt=""></a>
				<figcaption class="caption">Positionly gain more traffic</figcaption>
				<span class="subcaption">Icon Design</span>
			</figure>
			<figure class="my-work__gallery-item template">
				<a href="#"><img src="img/lion.jpg" alt=""></a>
				<figcaption class="caption">Flag - User Dashboard</figcaption>
				<span class="subcaption">Template</span>
			</figure>
			<figure class="my-work__gallery-item my-work__gallery-item--clear-tablet design">
				<a href="#"><img src="img/traffic.jpg" alt=""></a>
				<figcaption class="caption">Google Maps - developers</figcaption>
				<span class="subcaption">Web Design</span>
			</figure>
			<figure class="my-work__gallery-item landing">
				<a href="#"><img src="img/template.jpg" alt=""></a>
				<figcaption class="caption">Djed Landing Page</figcaption>
				<span class="subcaption">Landing Page</span>
			</figure>
			<figure class="my-work__gallery-item my-work__gallery-item--clear-tablet design">
				<a href="#"><img src="img/map.jpg" alt=""></a>
				<figcaption class="caption">MG3 Website</figcaption>
				<span class="subcaption">Web Design</span>
			</figure>
			<figure class="my-work__gallery-item">
				<a href="#"><img src="img/flat.jpg" alt=""></a>
				<figcaption class="caption">Mixpanel Career</figcaption>
				<span class="subcaption icon">Icon Design</span>
			</figure>
		</div>

		<div class="my-work__wrapper-btn">
			<button class="my-work__button" type="button">See My Work</button>
		</div>
	</section>

	<section class="photography">
		<p class="photography__title wow zoomIn">Photography</p>

		<p class="photography__text wow zoomIn">In my life there is a place for photos. I love to share experiences and beautiful moments of your life with others. You can see the first examples of the new work, or photos from my vacation or a walk in the park. I thought you would be interested.</p>

		<div class="photography__gallery">
			<figure class="photography__gallery-item wow bounceInLeft" data-wow-offset="300"><a href="#"><img src="img/photo1.jpg" alt=""></a></figure>
			<figure class="photography__gallery-item wow bounceInLeft" data-wow-delay="0.3s" data-wow-offset="300"><a href="#"><img src="img/photo2.jpg" alt=""></a></figure>
			<figure class="photography__gallery-item photography__gallery-item--clear-tablet wow bounceInLeft" data-wow-delay="0.6s" data-wow-offset="300"><a href="#"><img src="img/photo3.jpg" alt=""></a></figure>
			<figure class="photography__gallery-item wow bounceInRight" data-wow-offset="300"><a href="#"><img src="img/photo4.jpg" alt=""></a></figure>
			<figure class="photography__gallery-item photography__gallery-item--clear-tablet wow bounceInRight" data-wow-delay="0.3s" data-wow-offset="300"><a href="#"><img src="img/photo5.jpg" alt=""></a></figure>
			<figure class="photography__gallery-item wow bounceInRight" data-wow-delay="0.6s" data-wow-offset="300"><a href="#"><img src="img/photo6.jpg" alt=""></a></figure>
		</div>

		<div class="photography__wrapper-btn">
			<button class="photography__button" type="button">See My Work</button>
		</div>
	</section>

	<section class="contacts">
		<p class="contacts__title wow lightSpeedIn">&#8734;</p>
		<p class="contacts__text wow fadeInLeftBig">Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. I do not spam.</p>

		<form action="" class="contacts__form">
			<input type="text" class="contacts__email-field wow fadeInLeftBig" placeholder="Enter your email..." required>
			<button type="submit" class="contacts__subscribe-button wow fadeInRightBig">Subscribe</button>
		</form>
	</section>

	<footer class="page-footer">
		<div class="social-buttons">
			<a href="#" class="social-buttons__item social-buttons__item--twitter"></a>
			<a href="#" class="social-buttons__item social-buttons__item--dribble"></a>
			<a href="#" class="social-buttons__item social-buttons__item--behance"></a>
			<a href="#" class="social-buttons__item social-buttons__item--instagram"></a>
		</div>

		<p class="copyright">Copyright © 2014. All Rights Reserved.<br>Made With Love By @AirTheme</p>
	</footer>


	<script src="js/script.js"></script>

</body>
</html>



